html {
  height: 100%;
  width: 100%;
  font-size: 16px;
}
#starting {
  background-color: #008B76;
  border: 1rem solid #008B76;
  border-radius: 15px;
  margin: 2rem 2rem;
  padding: 1rem;
  min-width: 5rem;
}

#destination {
  background-color: #FFEBDB ;
  border: 1rem solid #FFEBDB ;
  border-radius: 15px;
  margin: 2rem 2rem;
  padding: 1rem; 
  min-width: 5rem;
  display: flexbox;
  justify-content: center;
}

#location1 {
  color: white;
  position: relative;
  bottom: 1rem;
}

#location2 {
  color: black;
  position: relative;
  bottom: 1rem;
}

#starting form #destination form {
  position: relative;
  bottom: 1rem;
}

#starting select, #destination select {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}


#submit {
  background-color: #e25707;
  border: 1rem solid #e25707;
  border-radius: 15px;
  margin: 2rem 2rem;
  padding: 1rem; 
  min-width: 5rem;
  display: flexbox;
  justify-content: center;
}  

#submit h3{
  color: white;
  position: relative;
  bottom: 1rem;
}

#submit select{
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

button {
  padding: 0.5rem 6rem;
  border-radius: 10px;
  border: 1px solid white;
  margin: 1rem;
  position: relative;
  top: 2rem;
  right: 1rem
}
